*.blg
*.dw
*.ilg
*.log
*.o
*.ser
*.tmp
*.old
*~
#*
core
*.aux
*.bbl
*.idx
*.ind
*.toc
*.lof
*.lot
.DS_Store
sample-thesis-0.pdf
sample-thesis-1.pdf
sample-thesis-2.pdf
thesis.pdf
betaPSkeleton.pdf
__pycache__/
.ipynb_checkpoints/
*.fls
*.fdb_latexmk
~$maljovec_defense_slides.pptx
